<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
	Sistema de Controle Financeiro
	</ui:define>
<ui:define name="corpo">
	
	<h:form>
		<h:commandLink action="#{usuarioBean.novo}">Novo usuário</h:commandLink>
		<br/>
		<h:outputLink value="restrito/principal.jsf">Entrar</h:outputLink >
		
	</h:form>
</ui:define>
</ui:composition>
</html>
