<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
	Lançamentos
	</ui:define>

	<ui:define name="corpo">
		<ui:include src="lancamento_edicao.xhtml" />
		<br />
		<ui:include src="lancamento_listagem.xhtml" />
	</ui:define>
</ui:composition>
</html>